.custom-menubar {
  background-color: #2c3e50;  /* Color de fondo personalizado */
  color: white;
}

.content {
  padding: 20px;
  min-height: calc(100vh - 100px); /* Ajusta según el tamaño del menubar y footer */
  background-color: #f4f4f4;
}

.custom-footer {
  background-color: #2c3e50; /* Color de fondo del footer */
  color: white;
  text-align: center;
  padding: 10px 0;
}

.footer-content {
  margin: 0 auto;
  width: 100%;
  max-width: 960px; /* Ajuste opcional para ancho máximo */
}
