<div class="d-flex justify-content-center align-items-start">
  <div class="card shadow w-50">
    
    <!-- Título del card -->
    <div class="card-header text-center">
      <h2 class="mb-0">{{ isEditing ? 'Editar Evento' : 'Registrar un nuevo evento' }}</h2>
    </div>
    
    <div class="card-body">
      <!-- Formulario -->
      <form (ngSubmit)="onSubmit()"> 

        <!-- Campo: Nombre del evento -->
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre del evento:</label>
          <input 
            id="nombre" 
            class="form-control form-control-sm" 
            [(ngModel)]="event.nombre" 
            name="nombre" 
            required 
            placeholder="Ingrese el nombre del evento"> 
        </div>

        <!-- Campo: Fecha y hora del inicio del evento -->
        <div class="mb-3">
          <label for="fechaHoraInicio" class="form-label">Fecha y hora de inicio:</label>
          <p-calendar 
            id="fechaHoraInicio" 
            [(ngModel)]="event.fechaHoraInicio"
            name="fechaHoraInicio"
            [showIcon]="true"
            dateFormat="dd/mm/yy HH:mm"
            [showTime]="true" 
            hourFormat="24"
            class="form-control-sm"
            placeholder="Seleccione la fecha y hora de inicio"
          ></p-calendar>
        </div>

        <!-- Campo: Fecha y hora del fin del evento -->
        <div class="mb-3">
          <label for="fechaHoraFin" class="form-label">Fecha y hora de fin:</label>
          <p-calendar 
            id="fechaHoraFin" 
            [(ngModel)]="event.fechaHoraFin"
            name="fechaHoraFin"
            [showIcon]="true"
            dateFormat="dd/mm/yy HH:mm"
            [showTime]="true" 
            hourFormat="24"
            class="form-control-sm"
            placeholder="Seleccione la fecha y hora de fin"
          ></p-calendar>
        </div>

        <!-- Botón: Guardar -->
        <div class="text-center">
          <button 
            type="submit" 
            class="btn btn-success btn-sm"
            [disabled]="!event.nombre || !event.fechaHoraInicio">
            <i class="pi pi-check"></i> Guardar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
