<div class="p-fluid">
    <div class="card">
      <h2>{{ isEditing ? 'Editar Evento' : 'Registrar un nuevo evento' }}</h2> 
      <form (ngSubmit)="onSubmit()"> 
        <div class="p-field">
          <label for="name">Nombre del evento:</label>
          <input id="name" pInputText [(ngModel)]="event.name" name="name" required> 
        </div>
  
        <div class="p-field">
          <label for="dateTime">Seleccione fecha y hora del evento:</label>
          <p-calendar 
            id="dateTime" 
            [(ngModel)]="event.startDateTime"
            name="startDateTime"
            [showIcon]="true"
            dateFormat="dd/mm/yy HH:mm"
            [showTime]="true" 
            hourFormat="24" 
          ></p-calendar>
        </div>
  
        <p-button label="Guardar" type="submit" icon="pi pi-check" [disabled]="!event.name || !event.startDateTime"></p-button>
      </form>
    </div>
  </div>
  